.page{
    
  background-image: url('c++.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
}
.thelist{
font-size:x-large;
font-weight:bolder;
color:#020869;

}
ol{
    list-style-type:circle;
  }
  ul{
    list-style-type:square 
    
  }

.table1{
    
    font-size:x-large;
}

a:hover{
    color:#040E43;
    font-weight:bolder;
    font-size:xx-large;
    
}
.nav li {
  display: inline-block;
   background-color: grey;
}


  
  .container{
    
    width: 90%;
    padding: 10px;
   
    margin:100px auto
  }
  .box{
    width: 800px ;
    height: 150px;
    
    display: flex ;
    justify-content: center;
    transition: 1s;

  }
  .box:hover{
    
    
    transform: scaleY(1.3);
    background:#7F1414;
    box-shadow: 2px 2px 2px #000;
    z-index: 2 ;
    
  }